@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  margin: 0 auto;
}

.app-container {
  border: red 4px solid;
  text-align: center;
}

.app-container h1 {
  border: green 4px solid;
  font-family: 'Righteous', cursive;
  font-size: 75px;
  margin-bottom: 50px;
}

.app-container form {
  border: 3px solid black;
  background-color: dodgerblue;
  border-radius: 20%;
  width: 50%;
  height: 50vh;
}

.app-container .label-input {
  border: 4px red solid;
  text-align: left;
}

.app-container .win-percent {
  border: 3px teal solid;
  display: flex;
  justify-content: space-around;
}

.app-container .money-won {
  border: 3px teal solid;
  display: flex;
  justify-content: space-around;
}

.app-container .money-lost {
  border: 3px teal solid;
  display: flex;
  justify-content: space-around;
}

.app-container button {
  border: 3px pink solid;
}